{% comment %}
  Avatar component with optional online indicator.
  Usage: {% include "components/avatar.html" with user=post.author size="lg" online=True %}
  Sizes: sm(24) md(32) lg(40) xl(56) 2xl(80) 3xl(120)
{% endcomment %}
{% load static %}
{% if online %}
<div class="relative inline-flex {{ class }}">
{% endif %}
  {% if link %}<a href="{{ link }}" class="inline-flex {{ class }}">{% endif %}
  {% if user.profile_picture %}
  <img src="{{ user.profile_picture.url }}" alt="{{ user.username }}" loading="lazy"
       class="{% if size == 'sm' %}w-6 h-6{% elif size == 'lg' %}w-10 h-10{% elif size == 'xl' %}w-14 h-14{% elif size == '2xl' %}w-20 h-20{% elif size == '3xl' %}w-[120px] h-[120px]{% else %}w-8 h-8{% endif %} rounded-full object-cover flex-shrink-0 border-2 border-[var(--border-light)]">
  {% else %}
  <img src="{% static 'images/default-avatar.svg' %}" alt="{{ user.username }}" loading="lazy"
       class="{% if size == 'sm' %}w-6 h-6{% elif size == 'lg' %}w-10 h-10{% elif size == 'xl' %}w-14 h-14{% elif size == '2xl' %}w-20 h-20{% elif size == '3xl' %}w-[120px] h-[120px]{% else %}w-8 h-8{% endif %} rounded-full object-cover flex-shrink-0 bg-[var(--surface-tertiary)] border-2 border-[var(--border-light)]">
  {% endif %}
  {% if link %}</a>{% endif %}
{% if online %}
  <span class="online-dot{% if not user.is_online %} offline{% endif %}"></span>
</div>
{% endif %}
